[Unit]
Description=IOT LoRa Gateway Packet Forwarder
After=containerd.service

[Service]
Type=simple
WorkingDirectory=/opt/iotloragateway/
ExecStartPre=/opt/iotloragateway/reset-22.sh
ExecStart=/opt/iotloragateway/mp_pkt_fwd
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
